<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenido Invitado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>Bienvenido a la aplicación ChileCreceMas.</p>

  <div class="container">
    <div class="row">
      <div class="ion-col">
        <h1>Noticias destacadas</h1>
        <p style="font-Weight:400; font-Size:14px; color:#656565; text-align: justify;">Aquí podrás visualizar la información de interés mas reciente que te
           proporciona nuestro Sistema de Protección a la Infancia Chile Crece Más.</p>
      </div>
    </div>
  </div>
  <div class="swiper-container">
    <swiper-container [loop]="true" class="mySwiper">
      <swiper-slide *ngFor="let noticia of noticias">
        <ion-card>
          <img [src]="getFullImageUrl(noticia.imagen)" alt="{{noticia.titulo}}" class="noticia-image" />
          <ion-card-header>
            <ion-card-title>{{ noticia.titulo }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>{{ noticia.descripcion | slice:0:100 }}...</p>
            <ion-button expand="full" color="primary" (click)="verDetalles(noticia.idnoticia)">Ver detalles</ion-button>
          </ion-card-content>
        </ion-card>
      </swiper-slide>
    </swiper-container>
  </div>
</ion-content>
