<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-wrapper">
    <div class="welcome-container">
      <img src="assets/img/logo-principal.png" alt="Bienvenido a ChileCreceMas" class="splash-image">
    </div>

    <ion-item>
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="login()">Iniciar Sesión</ion-button>

    <div class="social-login-container">
      <div class="or-divider">o</div>
      <div class="social-icons">
        <ion-icon name="logo-facebook" class="social-icon" (click)="loginWithFacebook()"></ion-icon>
        <ion-icon name="logo-google" class="social-icon" (click)="loginWithGoogle()"></ion-icon>
      </div>
      <div class="social-text">Otras opciones para iniciar sesión</div>
    </div>
  </div>

  <div class="container btn-forgot" style="margin-top: 10px; text-align: center;">
    <ion-button  (click)="navigateToForgotPassword()">¿Olvidaste tu contraseña?</ion-button>
  </div>

  <div class="container btn-forgot" style="margin-top: 10px; text-align: center;">
    <ion-button  (click)="navigateToRegister()">Registrarse</ion-button>
  </div>

</ion-content>