<ion-app>
  <ion-header *ngIf="showHeader">
    <ion-toolbar>
      <ion-buttons slot="start" *ngIf="showBackButton">
        <ion-button (click)="goBack()">
          <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title class="toolbar-title">{{ pageTitle }}</ion-title>
      <ion-buttons slot="end" *ngIf="showHamburgerMenu">
        <ion-button (click)="toggleMenu()">
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-router-outlet></ion-router-outlet>

  <div *ngIf="showMenu" class="menu-overlay" (click)="toggleMenu()"></div>
  <div class="menu-options" [class.show]="showMenu">
    <div class="menu-title-container">
      <div class="container logo-min" style="text-align: center;">
        <div class="row">
          <img src="assets/img/logo-principal.png" alt="Bienvenido a nuestra aplicación">
        </div>
      </div>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col size="12" class="icon-col" (click)="navigateToElectrolineras()">
          <img src="assets/img/home.png" alt="Inicio" width="35px" height="28px">
          <ion-label style="margin-top: 8px;">Inicio</ion-label>
        </ion-col>
        <ion-col size="12" class="icon-col" (click)="navigateTonoticiasall()">
          <img src="assets/img/informacion.png" alt="Noticias" width="34px" height="34px">
          <ion-label>Noticias</ion-label>
        </ion-col>
        <ion-col size="12" class="icon-col" (click)="navigateTocontact()">
          <img src="assets/img/informacion.png" alt="Informate" width="34px" height="34px">
          <ion-label>Informate</ion-label>
        </ion-col>
        <ion-col *ngIf="isLoggedIn" size="12" class="icon-col" (click)="navigateTomifamilia()">
          <img src="assets/img/familia.png" alt="Familia" width="40px" height="27px">
          <ion-label><strong>Mi Familia</strong></ion-label>
        </ion-col>
        <ion-col *ngIf="isLoggedIn" size="12" class="icon-col" (click)="logout()">
         <!--<img src="assets/img/logout.png" alt="Cerrar Sesión" width="35px" height="35px">-->
          <ion-label style="background: #3EDAE6;
          padding: 10px 15px;
          border-radius: 100px;"><strong>Cerrar Sesión</strong></ion-label>
        </ion-col>
        <ion-col *ngIf="!isLoggedIn" size="12" class="icon-col" (click)="navigateToLogin()">
         <!--<img src="assets/img/logout.png" alt="Iniciar Sesión" width="35px" height="35px">-->
          <ion-label style="background: #3EDAE6;
          padding: 10px 15px;
          border-radius: 100px;"><strong>Iniciar Sesión</strong></ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-app>
