<ion-content>
  <div class="content-wrapper">
    <div class="welcome-container">
      <img src="assets/img/logo-principal.png" alt="Bienvenido a ChileCreceMas" class="splash-image">
    </div>

    <div class="container-buttons">
      <ion-button  (click)="navigateToLogin()">Iniciar Sesión</ion-button>
      <ion-button  (click)="navigateToRegister()">Registrarse</ion-button>
      <ion-button  (click)="navigateToGuestHome()">Continuar</ion-button>
     <!--<ion-button (click)="navigateToForgotPassword()">¿Olvidaste tu contraseña?</ion-button>-->
    </div>
  </div>
</ion-content>
