ion-content {
  --background: #00b6c499;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  overflow: hidden;
  height: 100vh;
}

.min {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  flex-shrink: 0;
}

.min img {
  max-width: 48%;
  height: auto;
}

.welcome-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Cambiado para ajustar el contenido hacia abajo */
  flex-grow: 1;
  margin-top: 8rem; /* Ajusta este margen según sea necesario */
}

.splash-image {
  max-width: 80%;
  height: auto;
}
