<ion-header>
  <ion-toolbar>
    <ion-title>Registrarse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-wrapper">
    <ion-item>
      <ion-label position="floating">Nombres</ion-label>
      <ion-input [(ngModel)]="nombres" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Apellidos</ion-label>
      <ion-input [(ngModel)]="apellidos" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="password" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Confirmar Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="confirmPassword" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Edad</ion-label>
      <ion-input type="number" [(ngModel)]="edad" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Región</ion-label>
      <ion-select [(ngModel)]="selectedRegionId" (ionChange)="onRegionChange($event)" required>
        <ion-select-option *ngFor="let region of regiones" [value]="region.id">{{ region.nombre }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Comuna</ion-label>
      <ion-select [(ngModel)]="selectedComunaId" required>
        <ion-select-option *ngFor="let comuna of comunas" [value]="comuna.id">{{ comuna.nombre }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button expand="block" (click)="register()">Registrarse</ion-button>
  </div>
</ion-content>
