
ion-content {
  --background: #9D6BE1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0;
  margin: 0;
}

.content-wrapper {
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px; /* Agregar padding para evitar que el contenido toque los bordes */
}

ion-item {
    --color: #FFFFFF;
    --background: #B47FF8;
    --border-radius: 10px;
    margin-bottom: 15px;
  }
  
  ion-label {
    
    font-weight: bold;
  }
  
  ion-input, ion-textarea {
    --padding-start: 10px;
    --padding-end: 10px;
  }
  
  ion-textarea {
    min-height: 100px;
  }
  
  ion-button {
    --background: #B47FF8;
    --border-radius: 100px;
  }

  ion-button:hover {
    --background: #3EDAE6;
    --color: #FFFFFF;
  }

  .center-btn{
    text-align: center;
  }