<ion-header>
  <ion-toolbar>
    <ion-title>Registrarse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-wrapper">
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <ion-item>
        <ion-label position="floating">Nombres</ion-label>
        <ion-input formControlName="nombres" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Apellidos</ion-label>
        <ion-input formControlName="apellidos" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" formControlName="email" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" formControlName="password" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Confirmar Contraseña</ion-label>
        <ion-input type="password" formControlName="password_confirmation" required></ion-input>
      </ion-item>
      <div *ngIf="registerForm.errors?.['mismatch']">
        <p class="error-text">Las contraseñas no coinciden.</p>
      </div>
      <ion-item>
        <ion-label position="floating">Fecha de Nacimiento</ion-label>
        <ion-datetime formControlName="fecha_nacimiento" displayFormat="YYYY-MM-DD" pickerFormat="YYYY-MM-DD" presentation="date"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Región</ion-label>
        <ion-select formControlName="selectedRegionId" (ionChange)="onRegionChange($event)" required>
          <ion-select-option *ngFor="let region of regiones" [value]="region.id">{{ region.nombre }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Comuna</ion-label>
        <ion-select formControlName="selectedComunaId" required>
          <ion-select-option *ngFor="let comuna of comunas" [value]="comuna.id">{{ comuna.nombre }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button expand="block" type="submit">Registrarse</ion-button>
    </form>
  </div>
</ion-content>
